.main-menu {
  .menu-items { height: 110px; overflow: hidden; }
  .menu-item {
    width: 20%; height: 110px; float: left; text-align: center; cursor: pointer;
    &:hover {
      .title span { border-bottom: none; color: #ec0000; }
    }
    &.active {
      .image { background-color: #336cb2; }
      .title span { border-bottom: none; color: #ec0000; }
    }
    .image { padding: 15px 0 10px; }
    .title {
      height: 30px; line-height: 30px;
      span { font-size: 12px; border-bottom: 1px dashed #333; }
    }
  }

  .menu-subitems {
    height: 66px; overflow: hidden; display: none;
    &.active { display: block; }
  }
  .menu-subitem {
    width: 65px; margin-right: 6px; height: 66px; float: left; text-align: center; cursor: pointer;
    &.active { background-color: #336cb2; }
    .image {
      height: 66px; line-height: 66px;
      img { max-width: 100%; vertical-align: middle; }
    }
  }
}

.order-card-menu {
  .menu-item {
    position: relative; width: 80px; text-align: center; cursor: pointer;
    &:hover {
      .title span { border-bottom: none; color: #ec0000; }
    }
    &.active {
      .image { background-color: #336cb2; }
      .title span { border-bottom: none; color: #ec0000; }
    }
    .image { padding: 15px 0 10px; }
    .title {
      height: 30px; line-height: 30px;
      span { font-size: 12px; border-bottom: 1px dashed #333; }
    }
    .close-icon { content: 'X'; position: absolute; top: -5px; right: -5px; }
  }
  .add-window {
    width: 80px; height: 80px; line-height: 80px; border: 3px dashed #A7ACB2; border-radius: 5px; text-align: center; cursor: pointer;
    &:hover {
      border-color: #333;
      &:before { color: #333; }
    }
    &:before { content: '+'; display: inline-block; font-size: 28px; line-height: 28px; font-weight: bold; color: #A7ACB2; }
  }
}
