.selected-window {
  .window-info {
    .image { text-align: center; }
  }
  .sizes { margin-top: 20px; }
  .size-block {
    height: 30px; line-height: 30px; margin-bottom: 10px;
    & > div { display: inline-block; margin-right: 10px; }
    .title { width: 130px; }
    .input { width: 100px; }
    .hint { width: 200px; }
    input { height: 30px; line-height: 30px; border: 1px solid #333; width: 100%; padding: 0 15px; }
  }
}
