<div class="calculator-menu">
  <div class="menu-items">
    {{#each this}}
      <div class="menu-item">
        <div class="image">
          <img src="{{this}}" />
        </div>
        <div class="title">

        </div>
      </div>
    {{/each}}
  </div>
</div>
